<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<context-param> <!-- Service =>> DAO -->
		<param-name>contextConfigLocation</param-name><!-- contextconfig 위치를 변경 -->
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<servlet> <!-- View =>> Controller 관련 -->
		<description></description>
		<display-name>action</display-name>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!--Springframework에서 제공하는 DispatcherServlet을 사용하겠다. -->
		<init-param>
			<param-name>contextConfigLocation</param-name><!-- contextconfig 위치를 변경 -->
			<param-value>/WEB-INF/config/presentation-layer.xml</param-value> <!-- 원래는 action-servlet에서 찾았지만, config/presentataion-layer.xml에서 확인 -->
		</init-param>
	</servlet>
	<servlet-mapping> <!-- url-pattern에 응답으로 Servlet-name을 맵핑한다. -->
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
</web-app>
